<div class="unit one-fifth">
  <aside>

    <h4>About Easy Rules</h4>
    <ul>
      <li class="{% if page.title == "Overview" %}current{% endif %}">
        <a href="{{ site.url }}/about/overview.html">Overview</a>
      </li>
      <li class="{% if page.title == "Getting started" %}current{% endif %}">
        <a href="{{ site.url }}/about/getting-started.html">Getting started</a>
      </li>
    </ul>

    <h4>User guide</h4>
      <ul>
          <li class="{% if page.title == "Introduction" %}current{% endif %}">
            <a href="{{ site.url }}/user-guide/introduction.html">Introduction</a>
          </li>
          <li class="{% if page.title == "Defining rules" %}current{% endif %}">
            <a href="{{ site.url }}/user-guide/defining-rules.html">Defining rules</a>
          </li>
          <li class="{% if page.title == "Rules engine" %}current{% endif %}">
            <a href="{{ site.url }}/user-guide/rules-engine.html">Rules engine</a>
          </li>
          <li class="{% if page.title == "Managing rules" %}current{% endif %}">
            <a href="{{ site.url }}/user-guide/managing-rules.html">Managing rules</a>
          </li>
          <li class="{% if page.title == "Scheduling rules engine" %}current{% endif %}">
          <a href="{{ site.url }}/user-guide/scheduling-rules-engine.html">Scheduling rules engine</a>
          </li>
          <li class="{% if page.title == "Embedding rules engine" %}current{% endif %}">
          <a href="{{ site.url }}/user-guide/embedding-rules-engine.html">Embedding rules engine</a>
          </li>
      </ul>

      <h4>Tutorials</h4>
      <ul>
          <li class="{% if page.title == "Hello World" %}current{% endif %}">
            <a href="{{ site.url }}/tutorials/hello-world.html">Hello World</a>
          </li>
          <li class="{% if page.title == "Rule Priority" %}current{% endif %}">
          <a href="{{ site.url }}/tutorials/rule-priority.html">Rule Priority</a>
          </li>
          <li class="{% if page.title == "Dynamic configuration" %}current{% endif %}">
            <a href="{{ site.url }}/tutorials/dynamic-configuration.html">Dynamic configuration</a>
          </li>
          <li class="{% if page.title == "Engine scheduler" %}current{% endif %}">
          <a href="{{ site.url }}/tutorials/scheduling-engine.html">Engine scheduler</a>
          </li>
          <li class="{% if page.title == "Using Easy Rules with Spring" %}current{% endif %}">
          <a href="{{ site.url }}/tutorials/spring-tutorial.html">Spring tutorial</a>
          </li>
      </ul>



    <h4>Get involved</h4>
    <ul>
        <li class="{% if page.title == "Release notes" %}current{% endif %}">
            <a href="{{ site.url }}/get-involved/release-notes.html">Release notes</a>
        </li>
        <li>
            <a target="_blank" href="https://github.com/benas/easy-rules">Source repository</a>
        </li>
        <li>
            <a target="_blank" href="https://github.com/benas/easy-rules/issues">Issue tracker</a>
        </li>
    </ul>

  </aside>
</div>
