<div class="unit one-fifth">
  <aside>

    <h4>About Easy Rules</h4>
    <ul>
      <li class="{% if page.title == "Overview" %}current{% endif %}">
        <a href="{{ site.url }}/about/overview.html">Overview</a>
      </li>
      <li class="{% if page.title == "Getting started" %}current{% endif %}">
        <a href="{{ site.url }}/about/getting-started.html">Getting started</a>
      </li>
    </ul>

    <h4>User guide</h4>
      <ul>
          <li class="{% if page.title == "Introduction" %}current{% endif %}">
            <a href="{{ site.url }}/user-guide/introduction.html">Introduction</a>
          </li>
          <li class="{% if page.title == "Defining rules" %}current{% endif %}">
            <a href="{{ site.url }}/user-guide/defining-rules.html">Defining rules</a>
          </li>
          <li class="{% if page.title == "Rule listener" %}current{% endif %}">
          <a href="{{ site.url }}/user-guide/rule-listener.html">Rule listener</a>
          </li>
          <li class="{% if page.title == "Rules engine" %}current{% endif %}">
            <a href="{{ site.url }}/user-guide/rules-engine.html">Rules engine</a>
          </li>
          <li class="{% if page.title == "Managing rules" %}current{% endif %}">
            <a href="{{ site.url }}/user-guide/managing-rules.html">Managing rules</a>
          </li>
          <li class="{% if page.title == "Scheduling rules engine" %}current{% endif %}">
          <a href="{{ site.url }}/user-guide/scheduling-rules-engine.html">Scheduling a rules engine</a>
          </li>
          <li class="{% if page.title == "Embedding rules engine" %}current{% endif %}">
          <a href="{{ site.url }}/user-guide/embedding-rules-engine.html">Embedding a rules engine</a>
          </li>
      </ul>

      <h4>Tutorials</h4>
      <ul>
          <li class="{% if page.title == "Hello world tutorial" %}current{% endif %}">
            <a href="{{ site.url }}/tutorials/hello-world-tutorial.html">Hello world tutorial</a>
          </li>
          <li class="{% if page.title == "Shop tutorial" %}current{% endif %}">
          <a href="{{ site.url }}/tutorials/shop-tutorial.html">Shop tutorial</a>
          </li>
          <li class="{% if page.title == "Scheduler tutorial" %}current{% endif %}">
          <a href="{{ site.url }}/tutorials/scheduler-tutorial.html">Scheduler tutorial</a>
          </li>
          <li class="{% if page.title == "Spring tutorial" %}current{% endif %}">
          <a href="{{ site.url }}/tutorials/spring-tutorial.html">Spring tutorial</a>
          </li>
      </ul>



    <h4>Get involved</h4>
    <ul>
        <li class="{% if page.title == "Release notes" %}current{% endif %}">
            <a href="{{ site.url }}/get-involved/release-notes.html">Release notes</a>
        </li>
        <li class="{% if page.title == "FAQ" %}current{% endif %}">
        <a href="{{ site.url }}/get-involved/faq.html">FAQs</a>
        </li>
        <li>
            <a target="_blank" href="https://github.com/benas/easy-rules">Source repository</a>
        </li>
        <li>
            <a target="_blank" href="https://github.com/benas/easy-rules/issues">Issue tracker</a>
        </li>
    </ul>

  </aside>
</div>
